{% extends 'base.html.twig' %}

{% block title %}Hello Voiture!{% endblock %}

{% block body %}

    <section class="row article">
    
    
        
   
        
        <article class="col-md-6 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
            <h2>{{voiture.marque}}</h2>
            <div class="metadata">{{voiture.modele}}</div>
            <div class="content">
                <img src="" alt="">
                {{ voiture.description}}
                <h4 class="text-center">{{voiture.prix}}</h4>
            </div>
        
        </article>
 
    </section>

{% endblock %}