{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">BACKOFFICE</h1>

<p class="text-center">Bienvenur sur votre backOffice</p>

<a href="#" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES ARTICLES</a>


{% endblock %}
